@model CreateArticleViewModel

@{
    ViewData["Title"] = "Create Article";
}

<h2>@ViewData["Title"]</h2>

<form asp-area="Administration" asp-controller="Blog" asp-action="CreateArticle" method="post" enctype="multipart/form-data" class="form-horizontal">
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ArticleContent" class="col-md-2 control-label">Файл</label>
        <div class="col-md-10">
            <input asp-for="ArticleContent" type="file" class="btn btn-default btn-file" />
            <span asp-validation-for="ArticleContent" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default" value="Upload">Изпрати</button>
        </div>
    </div>
    <div class="all-keywords">
        @await Html.PartialAsync("_AllKeywords", Model)
    </div>
</form>
<form asp-area="Administration" asp-controller="Blog" asp-action="AddKeyword"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update=".all-keywords"
      class="form-horizontal">
    <div class="all-keywords hidden">
        @await Html.PartialAsync("_AllKeywords", Model)
    </div>
    <div class="form-group">
        <label asp-for-keyword="Keyword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Keyword" class="form-control my-inline" id="keyword" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default my-inline" id="add-keyword" value="Submit">Добави</button>
        </div>
    </div>
</form>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/autocompleteKeywords.js"></script>
    <script src="~/js/removeKeyword.js"></script>
    <script>autocompleteKeywords(@Json.Serialize(Model.AllKeywords))</script>
}
