<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h4 class="page-title">@TempData["SuccessMessage"]</h4>
    </div>
</div>

<script src="~/js/contactSuccessMessageModal.js" asp-append-version="true"></script>


