@{
    ViewData["Title"] = "Payment";
}

<div class="row">
    <div class="col-md-4">
        <h3>Банкова сметка</h3>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        ПЪРВА ИНВЕСТИЦИОННА БАНКА АД<br />
        IBAN: BG15FINV91501016756960<br />
        BIC/SWIFT: FINVBGSF<br />
        Титуляр: ЛЕГЕ АДВАЙЗЪРИ ЕООД<br />
        ЕИК(БУЛСТАТ): 204092973<br />
    </div>
    <div class="col-xs-6">
        <div class="dc-holder"><img src="~/images/visa_pos_fc.png" /></div>
        <div class="dc-holder"><img src="~/images/mc_vrt_opt_rev_73_3x.png" /></div>
        <div class="dc-holder"><img src="~/images/ms_vrt_opt_rev_73_3x.png" /></div>
    </div>
</div>

